.App {
  text-align: center;
  overflow-x: hidden; /* Previne rolagem horizontal */
  font-family: Arial, sans-serif;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #ff9800; /* Cor de destaque ao passar o mouse */
}

.section {
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.section1 {
  background-color: #282c34; /* Cor de fundo para a seção 1 */
}

.section2 {
  background-color: #4CAF50; /* Cor de fundo para a seção 2 */
}

.section3 {
  background-color: #ff9800; /* Cor de fundo para a seção 3 */
}