@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'Metropol';
  src: url('./Fontes/Metropol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'Metropol', sans-serif;
  overflow-x: hidden; /* Evita rolagem horizontal */
  position: relative;
  background-color: #f2f2f2; /* Cor de fundo */
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h2{
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: backdrop-filter 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
  width: 100%;
  box-sizing: border-box;
  color: #D9C9C5; /* Cor secundária */
  position: absolute;
  top: 0;
  z-index: 10; /* Garante que o cabeçalho esteja sobre os slides */
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #D9C9C5; /* Cor secundária */
}

.menu-icon:hover {
  background-color: rgba(217, 201, 197, 0.2); /* Cor secundária com opacidade */
}

.logo {
  flex-grow: 1;
  text-align: center;
}

.contact-button button {
  background-color: transparent;
  font-family: 'Metropol', sans-serif;
  color: #f2f2f2;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
}

.contact-button button:hover {
  background-color: #c8b2ad;
  border: 1px solid #c8b2ad;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #261914; /* Cor primária */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Oculto inicialmente */
  z-index: 1500;
}

.sidebar.open {
  transform: translateX(0); /* Aparece quando aberto */
}

.sidebar a {
  color: #D9C9C5; /* Cor secundária */
  text-decoration: none;
  font-size: 20px;
  margin: 10px 0;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f2f2f2; /* Cor de fundo ao pairar */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Efeito de fade */
  z-index: 0;
  display: flex;
  align-items: center;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide-content {
  position: relative;
  z-index: 10;
  text-align: left;
  color: #f2f2f2;
  padding-left: 50px;
  padding-right: 40%;
  padding-top: 5%;
  line-height: 0.9;
}

.slide-content h2{
  font-size: 80px;
  margin: 0;
}

.slide-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 100; /* Garante que a barra de controle esteja sobre os slides */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
  width: 15px;
  height: 15px;
  margin-top: -3px;
}

.section {
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #261914; /* Cor primária */
  padding: 25px;

}

.section1 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  color: #261914;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

.section2 {
  background-color: #f2f2f2;
  height: 80vh; 
  overflow: hidden;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-item {
  position: relative;
  display: inline-grid !important;
  align-items: center;
  justify-content: center; 
  overflow: hidden; 
  padding: 50px 0px;
  cursor:pointer;
}

.slide-item h2 {
  margin: 0;
  margin-top: 15px;
  text-align: center;
}

.slide-item img {
  width: auto;
  height: 300px;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;;
  position: relative;
  opacity: 0.7;
  z-index: 2; 
}

.circle-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: #D9C9C5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5; 
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1;
}

.section2 .slide-item:hover .circle-overlay {
  width: 150px; 
  height: 150px;
  opacity: 1;
}

.section2 .slide-item:hover img {
  opacity: 1;
}

.section2 .slide-item:hover img {
  transform: scale(1.1); 
}

.slick-slide {
  display: flex !important;
  align-items: center; 
  justify-content: center;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  color: #261914; /* Cor do ícone das setas */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 24px;
  color: #261914; /* Cor do ícone das setas */
  opacity: 1;
}

.section3 {
  background-color: #261914;
  color: #f2f2f2;
}

.section3 .slider-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.section3 .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  display: flex;
}

.section3 .slide-item {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto !important;
}

.section3 .image-container {
  background-color: #f2f2f2;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 25px;
}

.section3 .image-container img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  opacity: 1;
}

.section3 .slide-item:hover img {
  transform: scale(1.1); 
}

.section3 h2 {
  font-size: 18px;
  margin-top: 10px;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.section3 p {
  font-size: 12px;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  letter-spacing: 1px;
}

.section4 {
  background-color: #1E88E5;
}

.section5 {
  background-color: #D9C9C5;
}

.section6 {
  background-color: #c8b2ad;
}

.section7 {
  background-color: #1E88E5;
}

.section8 {
  background-color: #D9C9C5;
}

.section9 {
  background-color: #c8b2ad;
}

.section10 {
  background-color: #1E88E5;
}

.section11 {
  background-color: #D9C9C5;
}

.section12 {
  background-color: #c8b2ad;
}

.section13 {
  background-color: #1E88E5;
}

.no-scroll {
  overflow: hidden;
}

